/* CSS of JAY */
@import "styles-m.css";
@import "styles-l.css";
@import "custom2.css";
/* # CSS of JAY */

body {
    color: #000;
    font-size: 14px;
    font-family: "Helvetica", Arial, sans-serif;
    overflow-x: hidden;
}

/* Grid - layout */
#main
    /* # Grid - layout */
    /* image responsive */
.img-resp {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.img-resp > img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.img-resp > img.fullHeight,
.img-resp.fullHeight > img {
    height: 100%;
}

.img100 {
    padding-bottom: 100%;
}

.img133 {
    padding-bottom: 133.3333%;
}

.img60 {
    padding-bottom: 60%;
}

.img75 {
    padding-bottom: 75%;
}

.img70 {
    padding-bottom: 70%;
}

.img-full {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.pad10 {
    padding-bottom: 10px;
}

.pad20 {
    padding-bottom: 20px;
}

.pad30 {
    padding-bottom: 30px;
}

.pad40 {
    padding-bottom: 40px;
}

.pad50 {
    padding-bottom: 50px;
}

.pad100 {
    padding-bottom: 50px;
}

/* # image responsive */

/* GRID */

#maincontent {
    margin-top: 20px;
    z-index: 0;
}

@media only screen and (max-width: 1239px) {
    .col-1200, #maincontent {
        width: 100%;
        padding-left: 20px !important;
        padding-right: 20px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 767px) {
    .col-1200, #maincontent {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    #maincontent, #homePage {
        margin-top: 70px;
    }
}

@media only screen and (min-width: 1240px) {
    .col-1200, #maincontent {
        width: 1200px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* # GRID */

/* Footer */
.page-footer {
    background: white;
    padding: 0;
    border-top: 1px solid #ccc;
}

.firstFt {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.lastFt {
    border-top: 1px solid #c2c2c2;
    padding: 15px 0;
}

.paymentFt {
}

.paymentFt > img {
    margin-right: 10px;
}

.cprFt {
    text-align: right;
    font-size: 12px;
    color: #737373;
}

.titFt {
    margin-bottom: 15px;
}

.titFt span {
    font-size: 14px;
    font-weight: bold;
}

.itemMenuFt {
    width: 20%;
    float: left;
    padding-right: 20px;
}

.subMenuFt a, #newsletter-validate-detail .label {
    color: #5c5c5c !important;
    font-size: 12px;
}

.subMenuFt img {
    opacity: 0.5;
    margin-right: 10px;
}

.subMenuFt img:hover {
    opacity: 1;
}

.itemMenuFt.hasIcon .subMenuFt > a > div {
    margin: 0 0 5px;
}

.itemMenuFt.hasIcon .subMenuFt > a:last-child > div {
    margin: 0;
}

.titLetFt {
    color: #5c5c5c;
    margin: 0 0 20px;
}

.action.primary {
    background: #fff none;

    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 7px 15px;
    font-size: 14px;
    vertical-align: middle;
    outline: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.action.primary:hover {
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 7px 15px;
    font-size: 14px;
    vertical-align: middle;
    outline: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#newsletter {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c6c6c6;
    width: 180px;
    padding: 0;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#newsletter::-webkit-input-placeholder {
    color: #777;
}

#newsletter:-moz-placeholder {
    color: #777;
}

#newsletter::-moz-placeholder {
    color: #777;
}

#newsletter:-ms-input-placeholder {
    color: #777;
}

@media only screen and (max-width: 1239px) {
    .page-footer .hidden-xs {
        display: none !important;
    }

    .firstFt {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .itemMenuFt {
        width: 100%;
        float: left;
        padding: 0;
        border-top: 1px solid #898989;
    }

    .subMenuFt {
        display: none;
        background: #c2c2c2;
        float: left;
        width: 100%;
        padding: 15px 20px;
    }

    .titFt {
        margin-bottom: 0;
        cursor: pointer;
        padding: 15px 20px;
        float: left;
        width: 100%;
    }

    .itemMenuFt.hasIcon .titFt:after {
        display: inline-block;
        width: 22px;
        height: 22px;
        content: '';
        background: url(/pub/media/images/icon/close.png) no-repeat;
        position: absolute;
        right: 20px;
    }

    .itemMenuFt.hasIcon .titFt.open:after {
        background: url(/pub/media/images/icon/open.png) no-repeat;
    }

    #newsletter {
        border-bottom: 1px solid #898989;
        margin: 0 0 15px;
    }

    .lastFt {
        background: #000;
        padding: 15px 0;
    }

    .cprFt {
        color: #fff;
        text-align: left;
    }
}

/* # Footer */

/* detail page */
.lineDP {
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: block;
    margin: 20px 0;
}

.divideSpan {
    margin: 0 10px;
}

.staticLinkDP {
    padding: 0 0 10px;
}

.staticLinkDP a, .staticLinkDP span {
    color: #7b7b7b;
}

.staticLinkDP a:hover > span {
    color: #000;
}

.catalog-product-view .breadcrumbs {
    padding: 0;
}

.catalog-product-view .product-info-main {
    width: 50%;
    padding-left: 10px;
}

.catalog-product-view .product.media {
    width: 50%;
    padding-right: 10px;
}

.catalog-product-view .page-title-wrapper .page-title {
    font-size: 24px;
}

/* media */
.fotorama__stage__frame .fotorama__img {
    vertical-align: top;
}


/* # Detail page */


