/* CSS of JAY */
/*@import "styles-m.css";*/
/*@import "styles-l.css";*/
/*@import "custom2.css";*/
/* # CSS of JAY */

@font-face {
    font-family: 'ProximaNovaCond-Regular';
    src: url('font/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'), url('font/ProximaNovaCond-Regular.woff') format('woff'), url('font/ProximaNovaCond-Regular.ttf') format('truetype'), url('font/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #000;
    font-size: 14px;
    font-family: "ProximaNovaCond-Regular", Arial, sans-serif;
    overflow-x: hidden;
}

.abs-action-addto-product, .block-event .slider-panel .slider .item .action.event, .bundle-options-container .block-bundle-summary .product-addto-links > .action, .product-info-main .action.tocompare, .product-options-bottom .action.tocompare, .product-info-main .action.towishlist, .product-options-bottom .action.towishlist, .block-bundle-summary .action.towishlist, select {
    font-family: "ProximaNovaCond-Regular", Arial, sans-serif;
}

.product-item-info .product-item-inner {
    display: none;
}

/* image responsive */
.img-resp {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.product-item .price-box {
    margin: 10px 0 0 !important;
}

.img-resp > img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.img-resp > img.fullHeight,
.img-resp.fullHeight > img {
    height: 100%;
}

.img100 {
    padding-bottom: 100%;
}

.img150 {
    padding-bottom: 150%
}

.img133 {
    padding-bottom: 133.3333%;
}

.img60 {
    padding-bottom: 60%;
}

.img75 {
    padding-bottom: 75%;
}

.img70 {
    padding-bottom: 70%;
}

.img-full {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.pad10 {
    padding-bottom: 10px;
}

.pad20 {
    padding-bottom: 20px;
}

.pad30 {
    padding-bottom: 30px;
}

.pad40 {
    padding-bottom: 40px;
}

.pad50 {
    padding-bottom: 50px;
}

.pad100 {
    padding-bottom: 50px;
}

/* # image responsive */

/* GRID */

#maincontent {
    margin-top: 20px;
    z-index: 0;
    max-width: 100%;
}

.col-1025 {
    max-width: 100%;
}

@media only screen and (max-width: 1044px) {
    .col-1025, #maincontent {
        width: 100%;
        padding-left: 20px !important;
        padding-right: 20px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 767px) {
    .col-1025, #maincontent {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

@media only screen and (min-width: 1045px) {
    .col-1025, #maincontent {
        width: 1025px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* # GRID */

/* Header */

/* -- Right section */
@media only screen and (min-width: 1140px) {
    .header.content {
        display: none;
    }

    .page-header {
        width: 100%;
        position: relative;
        border: 0;
        margin: 0;
        padding: 0;
    }

    .page-header .header.panel {
        padding: 0;
    }

    .page-header .panel.wrapper {
        position: absolute;
        right: 20px;
        top: 0;
    }

    .header.panel > .header.links > li {
        float: left;
        margin: 0 10px 0 0;
    }

    .header.panel > .header.links > li > a {
        line-height: 40px;
        display: block;
        color: #000 !important;
        text-transform: uppercase;
    }

    /* ---- search */
    .block-search {
        float: left;
        width: 50px;
    }

    .block-search .control {
        border: 1px solid #000;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 40px;
        right: 0;
        width: 300px;
        display: none;
    }

    #search_mini_form .actions, .block-search .label > span,
    .block-search .nested, .block-search .block-title,
    #search_mini_form .field.search > .label:before {
        display: none;
    }

    #search_mini_form .field.search > .label {
        width: 40px;
        height: 40px;
        display: block;
        clip: auto;
        float: right;
        text-align: right;
        cursor: pointer;
        margin: 0;
        position: relative;
        background: url(/pub/media/images/search.png) no-repeat center;
        padding: 0;
    }

    #search_mini_form .field.search > label.active + .control {
        display: block;
    }

    /* ---- # search */
    /* Mini cart */
    #mini-cart {
        margin: 0;
        padding: 0;
        list-style: none none;
        height: auto !important;
        max-height: 350px;
    }

    .minicart-wrapper {
        float: right;
        margin-left: 30px;
    }

    .minicart-wrapper .showcart:before {
        content: '';
        background: url("/pub/media/images/cart.png") no-repeat 0 10px;
        margin: 0;
        vertical-align: top;
        display: inline-block;
        width: 20px;
        height: 40px;
    }

    #txtCartHeader {
        display: inline-block;
        font-size: 11px;
        line-height: 40px;
    }

    .minicart-items .product-item-details {
        float: right;
        width: calc(100% - 100px);
        padding: 0;
    }

    .minicart-wrapper .block-minicart {
        right: 0;
        margin: 0;
        width: 320px;
    }

    .minicart-items .product-item-name {
        font-weight: 400;
        margin: 0;
        text-align: left;
    }

    .minicart-items-wrapper {
        margin: 20px 0 0;
        border: 0 solid #ccc;
        border-bottom-width: 1px;
        overflow-x: auto;
        padding: 0;
    }

    #btn-minicart-close {
        position: absolute;
        width: 80px;
        text-align: center;
        right: 20px;
        top: 0;
        vertical-align: middle;
    }

    #btn-minicart-close:before {
        display: none;
    }

    .minicart-items .product-item {
        padding: 15px 0;
    }

    .block-minicart .subtitle.empty {
        font-size: 13px;
    }

    #btn-minicart-close > span {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        font-size: 13px;
        line-height: 40px;
        color: #777;
        clip: auto;
        text-align: right;
    }

    .block-minicart .subtotal {
        margin: 12px 0 0;
        text-align: right;
    }

    .block-minicart .subtotal .label,
    .block-minicart .subtotal .price-container,
    .block-minicart .subtotal .price-container span.price {
        display: inline-block;
        font-size: 14px !important;
    }

    .block-minicart .block-content > .actions > .primary {
        margin: 0;
    }

    .minicart-wrapper .minicart-widgets {
        margin-top: 0;
    }

    .minicart-wrapper a.action.viewcart > span {
        text-transform: initial;
        border-bottom: 1px solid #000;
    }

    .minicart-items-wrapper .product-item-details dt,
    .minicart-items-wrapper .product-item-details dd {
        float: left;
        margin: 0 7px 0 0;
    }

    .minicart-items-wrapper .product-item-details dt {
        clear: both;
    }

    .minicart-items-wrapper .product-item-details .content {
        float: left;
        width: 100%;
    }

    .minicart-items-wrapper .product-item-details .price-container {
        float: left;
    }

    .minicart-items-wrapper .product-item-details .product.actions {
        float: left;
        margin: 10px 0 0;
        text-align: left;
        clear: both;
    }

    .minicart-items .product-item-details .details-qty {
        margin: 0;
        float: left;
        clear: both;
        display: block !important;
    }

    .minicart-items .product-item-pricing .label {
        display: inline-block;
        width: auto;
    }

    .minicart-items .item-qty {
        width: 40px;
        display: inline-block;
        height: 20px;
        font-size: 12px;
        border: 1px solid #000;
        padding: 0 5px;
        text-align: center;
        margin: 5px 0 0;
    }

    .minicart-items .action.edit:before, .minicart-items .action.delete:before {
        display: none;
    }

    .minicart-items .action.edit > span, .minicart-items .action.delete > span {
        border: 0;
        clip: auto;
        height: auto;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: auto;
    }

    .minicart-items-wrapper .product-item-details .product.actions .primary:after {
        content: "|";
        margin: 0 5px;
    }

    /* # mini cart*/
    /* ---- menu */
    .nav-sections {
        background: transparent;
        float: left;
        margin: 0;
        border: 0;
        padding: 0 0 0 20px;
        width: 830px;
    }

    .topLogo {
        float: left;
        line-height: 46px;
    }

    .nav-sections-items {
        float: left;
    }

    .page-header .panel.wrapper {
        border: 0;
    }

    #topMenuBar {
        background: transparent;
    }

    /* ---- # menu */
}

@media only screen and (max-width: 1139px) {
    .header.content {
        display: block;
    }
}

/* -- # Right section */

/* # Header */

/* Footer */

.action.primary {
    background: #fff none;

    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 7px 15px;
    font-size: 14px;
    vertical-align: middle;
    outline: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.action.primary:hover {
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 7px 15px;
    font-size: 14px;
    vertical-align: middle;
    outline: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#newsletter {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c6c6c6;
    width: 180px;
    padding: 0;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#newsletter::-webkit-input-placeholder {
    color: #777;
}

#newsletter:-moz-placeholder {
    color: #777;
}

#newsletter::-moz-placeholder {
    color: #777;
}

#newsletter:-ms-input-placeholder {
    color: #777;
}

.footer.content {
    border-top: none;
}

.page-footer {
    border-top: 1px solid #000000;
}

.action.primary {
    border: 2px solid #000000;

}

.block.newsletter .field .control:before {
    display: none;
}

.footer.content .links {
    padding: 0;
}

.copyRight {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.copyRight > p {
    margin: 0;
}

.socialFooter {
    margin: 0 0 15px;
}

.socialFooter a {
    margin: 0 5px 0 0;
    text-decoration: none !important;
}

.socialFooter img {
    width: 40px;
}

@media only screen and (min-width: 768px), print {
    .footer.content .block {
        float: none;
    }

    .block.newsletter .action.subscribe {
        border-radius: 0;
        margin-top: 12px;
    }

    .box-footer ul li a {
        color: #737373;
        font-size: 15px;
    }

    .box-footer ul li p {
        color: #737373;
        font-size: 15px;
    }

    .box-footer h4 {
        font-size: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .click-ft-item {
        background: url(/pub/media/images/icon/add.png) no-repeat center;
        display: inline-block;
        width: 10px;
        height: 10px;
    }

    .box-footer h4 {
        display: inline-block;
        padding: 0 10px;
    }

    #footer-default .ft-sub-item {
        display: none;
    }

    #footer-default .click-ft-item.open + .ft-sub-item {
        display: block;
    }

    .click-ft-item.open {
        background-image: url(/pub/media/images/icon/tru.png);
    }

    .box-footer {
        border-top: 1px solid #000000;
    }

    .footer.content {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .box-footer ul li a {
        color: #737373;
        font-size: 15px;
        padding: 15px;
    }

    .page-footer {
        border-top: 0;
    }

    .socialFooter {
        margin: 0 0 15px 10px;
    }

    .box-footer ul li p {
        color: #737373;
        font-size: 15px;
        padding-left: 15px;
    }

    .block.newsletter {
        padding-left: 15px;
    }
}

/* # Footer */

/* detail page */
.catalog-product-view .product-info-main {
    width: 50%;
    padding-left: 10px;
}

.catalog-product-view .product.media {
    width: 50%;
    padding-right: 10px;
}

@media only screen and (max-width: 768px) {
    .catalog-product-view #maincontent {
        padding: 0 !important;
    }

    .catalog-product-view .product-info-main {
        width: 100%;
        padding: 0 10px;
    }

    .catalog-product-view .product.media {
        width: 100%;
        padding: 0;
    }
}

/* ---- Main Detail */
.lineDP {
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: block;
    margin: 20px 0;
}

.divideSpan {
    margin: 0 10px;
}

.staticLinkDP {
    padding: 0 0 10px;
}

.staticLinkDP a, .staticLinkDP span {
    color: #7b7b7b;
}

.staticLinkDP a:hover > span {
    color: #000;
}

.catalog-product-view .breadcrumbs {
    padding: 0;
}

.catalog-product-view .page-title-wrapper .page-title {
    font-size: 24px;
}

.catalog-product-view .swatch-attribute.color .swatch-option.text {
    color: #000;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    min-width: 22px;
    margin: 0 8px 8px 0;
    padding: 0 5px;
    display: block;
    border: 1px solid #000;
    background: #fff;
    outline: 0;
}

.catalog-product-view .swatch-attribute.color .swatch-option.text:hover {
    color: #fff;
    background: #000;
}

.popUpDetailPage {
    border: 1px solid #000;
    background: #fff;
    z-index: 1;
    display: none;
    margin: 10px 0 0;
}

.popUpDetailPage.open {
    display: block;
}

.popUpDetailPage .wrap {
    position: relative;
    padding: 15px 20px 20px;
    overflow: hidden;
}

.closeOnDetail {
    position: relative;
    float: right;
    color: #999;
    padding: 0 0 10px;
    cursor: pointer;
}

.popUpDetailPage .contentWrap {
    position: relative;
    max-height: 200px;
    overflow-y: scroll;
    float: left;
    width: 100%;
}

#product_addtocart_form .box-tocart {
    width: 220px;
    float: left;
    margin: 0 10px 0 0;
}

#product_addtocart_form .box-tocart .actions {
    float: left;
    width: 100%;
}

#product_addtocart_form .product-addto-links {
    float: left;
    margin: 110px 0 0;
}

#product_addtocart_form .product-addto-links a {
    background: transparent;
    color: #000;
    border: 0;
    font-size: 14px;
    font-weight: normal;
    border-bottom: 1px solid #000;
    border-radius: 0;
    padding: 0 0 3px;
}

.catalog-product-view #product-addtocart-button, .catalog-product-view #product-addtocart-button:hover {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 0;
    background: #000;
    color: #fff;
    border: 0;
}

.catalog-product-view .product-social-links {
    margin: 20px 0 0;
}

.catalog-product-view .product-social-links a {
    text-decoration: none !important;
    margin: 0 10px 0 0;
}

@media only screen and (max-width: 767px) {
    #product_addtocart_form .product-addto-links {
        float: left;
        margin: 0;
    }
}

/* ---- Main Detail */

/* ---- Related slider */
.otherSliderWrapper {
    width: 100%;
    clear: both;
    padding: 0;
    margin: 0;
}

.titDetailSlider {
    font-size: 20px;
}

.productSlider .row > .HS-item-Resp {
    padding: 10px;
    float: left;
    margin: 0;
    width: 25%;
}

@media only screen and (max-width: 767px) {
    .otherSliderWrapper {
        padding: 0 10px;
    }

    .productSlider .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .productSlider .row > .HS-item-Resp,
    .productSlider .row > .sns {
        padding: 5px;
    }

    .titDetailSlider {
        padding: 0 0 15px;
        margin: 0;
        font-size: 16px;
    }
}

@media only screen and (max-width: 479px ) {
    .productSlider .row > .HS-item-Resp {
        width: 100%;
    }
}

/* ---- # Related Slider */

/* ---- Media gallery */
/* thumb */
/*.fotorama__thumb-border,*/
/*.fotorama__stage.fotorama__shadows--left:before, .fotorama__nav.fotorama__shadows--left:before,*/
/*.fotorama__stage.fotorama__shadows--right:after, .fotorama__nav.fotorama__shadows--right:after {*/
/*display: none;*/
/*}*/

/*.fotorama__arr--disabled {*/
/*opacity: 1;*/
/*}*/

/*.fotorama__nav-wrap--vertical.fotorama__nav-wrap {*/
/*position: relative;*/
/*float: left;*/
/*width: 80px;*/
/*padding: 0;*/
/*}*/

/*.fotorama__nav--thumbs {*/
/*padding: 27px 0;*/
/*height: 580px !important;*/
/*}*/

/*.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--left,*/
/*.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--right {*/
/*background: none;*/
/*}*/

/*.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--left .fotorama__thumb__arr {*/
/*background: url('/pub/media/images/icon/pLeft.png') no-repeat center;*/
/*}*/

/*.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--right .fotorama__thumb__arr {*/
/*background: url('/pub/media/images/icon/pRight.png') no-repeat center;*/
/*}*/

/*.fotorama__nav-wrap .fotorama_vertical_ratio .fotorama__img {*/
/*-webkit-transform: none;*/
/*-ms-transform: none;*/
/*-o-transform: none;*/
/*transform: none;*/
/*position: relative;*/
/*top: 0;*/
/*left: 0;*/
/*width: 100%;*/
/*height: auto;*/
/*}*/

/*.fotorama__nav__frame--thumb.fotorama__active > .fotorama__thumb {*/
/*border: 1px solid #000;*/
/*padding: 5px;*/
/*background: #fff;*/
/*}*/

/*.fotorama__nav--thumbs .fotorama__nav__frame {*/
/*padding: 6px 0 0 !important;*/
/*width: 100% !important;*/
/*height: auto !important;*/
/*}*/

/* Thumb */

/* main image */
@media only screen and (min-width: 768px) {
    .fotorama__wrap .fotorama__stage {
        float: right;
        width: calc(100% - 100px) !important;
        padding-bottom: calc(150% - 150px) !important;
        left: auto !important;
        height: 0 !important;
        line-height: 1 !important;
    }
}

.fotorama__stage__shaft {
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}

/* # main image */

/*.fotorama__stage__frame .fotorama__img {*/
/*vertical-align: top;*/
/*padding: 0;*/
/*width: 100%;*/
/*height: auto;*/
/*}*/

/*.fotorama__nav-wrap--vertical .fotorama__nav__shaft .fotorama__nav__frame--thumb {*/
/*display: block;*/
/*padding-bottom: 6px !important;*/
/*}*/

/*.fotorama__nav-wrap--vertical .fotorama__thumb__arr--left, .fotorama__nav-wrap--vertical .fotorama__thumb__arr--right {*/
/*background: #fff !important;*/
/*}*/

/* full */
.fotorama--fullscreen {
    background: rgba(0, 0, 0, 0.7);
}

.fotorama--fullscreen .fotorama__nav-wrap {
    display: none !important;
}

.fotorama--fullscreen .fotorama__stage {
    width: 100% !important;
    padding-bottom: 90vh !important;
    top: 5vh;
    left: 0 !important;
    right: 0;
    bottom: auto;
    margin: 0 auto;
    float: none;
}

.fotorama--fullscreen .fotorama__wrap {
    max-width: 100% !important;
    width: 100% !important;
    height: 100%;
}

.fotorama--fullscreen .fotorama__stage__shaft {
    width: calc(100vh / 1.5) !important;
    height: 100% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}

.fotorama--fullscreen .fotorama__fullscreen-icon {
    background-position: -50px 0;
    top: 0;
    color: #000;
}

.fotorama--fullscreen .fotorama__fullscreen-icon {
    background: url(/pub/media/images/icon/detail/exit.png) no-repeat center;
    right: 15px !important;
    top: 0 !important;
    opacity: 0.5 !important;
}

.fotorama__fullscreen .fotorama__arr--prev .fotorama__arr__arr {
    background: url(/pub/media/images/icon/detail/fullLeft.png) no-repeat center;
}

.fotorama__fullscreen .fotorama__arr--next .fotorama__arr__arr {
    background: url(/pub/media/images/icon/detail/fullRight.png) no-repeat center;
}

.fotorama__fullscreen .fotorama__zoom-in {
    background: url(/pub/media/images/icon/detail/zoomIn.png) no-repeat center !important;
    margin: 0;
    top: 0;
    left: 15px;
    opacity: 0.5;
}

.fotorama__fullscreen .fotorama__zoom-out {
    background: url(/pub/media/images/icon/detail/zoomOut.png) no-repeat center !important;
    margin: 0;
    top: 65px;
    left: 15px;
    opacity: 0.5;
}

.fotorama__fullscreen .fotorama__zoom-in:hover, .fotorama__fullscreen .fotorama__zoom-out:hover,
.fotorama--fullscreen .fotorama__fullscreen-icon:hover {
    opacity: 1 !important;
}

.fotorama__fullscreen .fotorama__arr--next {
    right: 0 !important;
}

@media only screen and (max-width: 767px) {
    .fotorama__nav--dots {
        height: auto !important;
    }

    .fotorama__active .fotorama__dot {
        background-color: #000;
    }

    .fotorama__dot {
        border: 1px solid #000 !important;
        height: 10px;
        left: 6px;
        position: relative;
        top: 12px;
        width: 10px;
        border-radius: 5px;
    }

    .fotorama__arr {
        width: 70px;
    }

    .fotorama--fullscreen .fotorama__stage {
        padding-bottom: 150vw !important;
        height: 0 !important;
        top: 0;
    }

    .fotorama--fullscreen .fotorama__stage__frame .fotorama__img {
        margin: 0;
    }
}

/* ---- # Media Gallery */
/* # Detail page */

/* list page */

#cssmenu > ul {
    list-style: none;
    padding: 0;
}

.sub-active {
    display: none;
    list-style: none;
}

.toolbar-products .sorter {
    float: left;
}

#cssmenu .has-sub a:hover .sub-active {
    display: block;
}

.toolbar-products .pages {
    float: right !important;
    display: block;
}

.pager-next {
    display: none;
}

.pages-items .item {
    margin: 0 10px;
}

a {
    color: #474747 !important;
}

.view-all {
    text-decoration: underline;
}

.pages-items .current .page {
    border: 1px solid;
    padding: 0 9px;
    line-height: 24px;
}

.toolbar-sorter .sort-asc {
    display: none;
}

.catalog-category-view .breadcrumbs {
    padding: 0;
    width: 100%;
}

.catalog-category-view .sidebar .filter-title,
#textImgtop, .catalog-category-view .category-image,
.catalog-category-view .category-description {
    display: none;
}

.catalog-category-view .page-title-wrapper {
    display: block;
}

#page-title-heading {
    font-size: 24px;
}

#maincontent .toolbar-products {
    margin-bottom: 0;
}

#layered-filter-block .title-sidaber {
    font-size: 14px;
    font-weight: normal;
}

#cssmenu > ul > li {
    font-size: 12px;
}

#cssmenu > ul > li > ul > li {
    font-size: 10px;
}

.catalog-category-view .breadcrumbs > ul > li {
    font-size: 10px;
}

.catalog-category-view .breadcrumbs .items .home a,
.catalog-category-view .breadcrumbs .items .item strong {
    color: #7b7b7b !important;
}

/*test fitter list*/
.fitter-box {
    display: none;
    z-index: 1;
    position: absolute;
    background: white;
}

.fitter-list .active {
    display: block !important;
    background: white;
    padding: 0 5px 5px;
    border: 1px solid;
    margin-left: -22px;
    width: 99px;
}

.fitter-list {
    display: inline-block;
    border: 1px solid;
    padding: 5px 21px;
}

.fitter-list .fitter-sign {
    background: url(/pub/media/images/icon/down.png) no-repeat center;
    display: inline-block;
    width: 20px;
    height: 10px;
}

#narrow-by-list .swatch-attribute, #narrow-by-list .items {
    display: inline-block;
}

#narrow-by-list .size {
    display: none;
}

.toolbar-products {
    display: inline-block;
    float: right;
}

.main > .block {
    display: inline-block;
    margin-bottom: 0 !important;
}

/* # test fitter list*/

/*  test price list*/

#narrow-by-list #fitter-price:nth-child(1) {
    display: none;
}

/* # test price list*/

@media only screen and (max-width: 767px) {
    .catalog-category-view .breadcrumbs {
        display: none;
    }

    #textImgtop {
        display: block;
        font-size: 24px;
    }

    .catalog-category-view .category-image {
        display: block;
    }

    .catalog-category-view .category-description {
        display: block;
    }

    .catalog-category-view .page-title-wrapper {
        display: none;
    }

    .catalog-category-view .sidebar-additional {
        order: 0;
    }

    .open .sign {
        background: url(/pub/media/images/icon/tru.png) no-repeat center !important;
    }

    .has-sub .sign {
        background: url(/pub/media/images/icon/add.png) no-repeat center;
        display: inline-block;
        width: 50px;
        height: 10px;
    }

    #cssmenu .sub-active {
        display: none;
    }

    #cssmenu .open .sub-active {
        display: block;
    }

    #layered-filter-block {
        border: 1px solid;
    }

    #layered-filter-block .title-sidaber {
        margin: 10px;
        display: inline-block;
    }

    #layered-filter-block #cssmenu {
        display: none;
        margin: 10px;
    }

    #layered-filter-block .active {
        display: block !important;
    }

    #layered-filter-block > .sign {
        background: url(/pub/media/images/icon/add.png) no-repeat center;
        display: inline-block;
        width: 50px;
        height: 10px;
    }

    #layered-filter-block > .open {
        background: url(/pub/media/images/icon/tru.png) no-repeat center !important;
    }

}

@media only screen and (min-width: 768px) {
    .has-sub:hover .sub-active {
        display: block;
    }
}

/* # list page */

/* Home Page */
.cms-home .page-title-wrapper {
    display: none;
}

.cms-home #maincontent {
    width: 100% !important;
    padding: 0 !important;
}

.carousel.slide .slideCtr {
    position: absolute;
    top: 0;
    height: 100%;
    width: 40px;
}

.carousel.slide .slideCtr.prevButtonWrap {
    left: 0;
}

.carousel.slide .slideCtr.nextButtonWrap {
    right: 0;
}

.carousel.slide .slideCtr > img {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.3;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.carousel.slide .slideCtr:hover > img {
    opacity: 1;
}

.sliderIcon {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -17px;
}

.sliderIcon:hover {
    opacity: 1;
}

#bannerHS {
    margin: 0 0 40px;
}

#bannerHS .carousel-control {
    width: 45px;
}

#bannerHS .item > img {
    width: 100%;
}

.sumHome {
    font-size: 16px;
    text-align: center;
    padding: 0 0 15px;
}

.subBanner > div {
    padding: 10px;
}

p.headHome {
    text-align: center;
    font-size: 30px;
    padding: 0;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    p.headHome {
        font-size: 18px;
    }
}

/* # Home Page */

/* Press */
th.th_product {
    width: 25%;
    border-color: gray;
    margin-bottom: 40px;
}

img.img-full {
    padding: 15px;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

img.img-full:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#hr_title {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid gray;
    text-align: center;
}

#span_title {
    font-size: 20px;
    background-color: white;
    padding: 0 10px;
    color: gray;
}

ul {
    display: inline;
}

#press_h2 {
    margin-bottom: 0.5rem;
}

/* # Press */