
/* Header */
@media only screen and (min-width: 767px) {
    .header.content > .header.links {
        float: right;
        font-size: 0;
        padding: 0;
        list-style: none none;
        margin: 0 0 0 auto;
    }
    .header.content > .header.links > li a {
        text-transform: uppercase;
        color: #000;
        text-decoration: none;
        font-size: 12px;
    }
    .header.content > .header.links > li {
        display: inline-block;
        vertical-align: top;
    }
}
.header.content {
    position: relative;
    /*border-bottom: 1px solid #e1e1e1;*/
    padding: 0 20px;
    width: 100%;
    max-width: 100%;
    z-index: 2;
    clear: both;
}
/* Banner slider */
#bannerHS {
    margin-bottom: 50px;
}

/* Carousel */
.carousel-inner-fix {
    position: relative;
    width: 100%;
    padding: 0 35px;
    margin: 0 auto;
    overflow: hidden;
}

.prevButtonWrap, .nextButtonWrap {
    position: absolute;
    top: 0;
    width: 35px;
    height: 100%;
}

#bannerHS .prevButtonWrap, #bannerHS .nextButtonWrap {
    width: 60px;
}

.prevButtonWrap > img, .nextButtonWrap > img {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.prevButtonWrap, .prevButtonWrap > img {
    left: 0
}

.nextButtonWrap, .nextButtonWrap > img {
    right: 0
}

.HS-item-wrap {
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin: 0 0 20px;
}

.HS-item-wrap a {
    text-decoration: none;
}

.HS-item-wrap p {
    color: #8d8d8d;
    padding: 10px 0 0;
    margin: 0;
    font-size: 14px;
}

.head-homePage {
    color: #474747;
    margin: 0;
    font-weight: 600;
    padding: 0 0 20px;
    font-size: 18px;
    text-transform: uppercase;
}

#bannerHS img {
    max-width: 100%;
    width: 100%;
}

.padHS {
    padding: 0 30px;
}

ol.carousel-indicators {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0 10px;
    margin: 5px 0 30px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.carousel-indicators li {
    background: #939393;
    border: none;
}

.carousel-indicators li.active {
    background: #424242;
}

#bannerHS .carousel-indicators {
    position: absolute;
    margin: 0;
    bottom: -25px;
    padding: 0;
    z-index: 0;
}

@media only screen and (max-width: 767px) {
    .HS-item-wrap p {
        font-size: 12px;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

@media only screen and (max-width: 479px) {
    .homeSlider .col-xs-6, .resizeText .col-xs-6 {
        width: 100%;
    }

    .HS-item-wrap p {
        /*white-space: normal;*/
    }
}

/* Slider Home */
.productSlider {
    padding: 0 40px;
}
